@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: inter, system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics Section */

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.purple {
    color: rgb(100 21 255);
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

.treact__logo {
    width: 100%;
    max-width: 40px;
    height: 40px;
    margin-right: 12px;
}

.container {
    padding: 96px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub--header {
    color: #6415FF;
    font-size: 16px;
}

.header {
    color: #243E63;
    font-size: 48px;
    margin: 16px 0 0;
}

.learn__button {
    margin: 48px 0 0;
    background-color: rgb(100 21 255);
    padding: 16px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    font-weight: bold;
    text-decoration: none;
}

.learn__button:hover {
    background-color: #243E63;
}

/* Landing Section */

.logo__container {
    display: flex;
    align-items: center;
}

.logo__link {
    text-decoration: none;
    font-size: 24px;
    color: #243E63;
    font-weight: 900;
}

.logo__link--hover:hover {
    color: rgb(100 21 255);
    transition: all 300ms ease;
}

.nav {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 24px;
    padding: 0 4px;
    font-size: 14px;
    color: #243E63;
    text-decoration: none;
    font-weight: bold;
}

.nav__link--anchor-secondary {
    font-size: 14px;
    color:#243E63;
    margin: 0 24px 0 48px;
    padding: 0 0 4px;
    text-decoration: none;
    font-weight: bold;
}

.nav__link--anchor-primary {
    background-color: rgb(100 21 255);
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    text-decoration: none;
    font-weight: 500
}

.nav__link--anchor-primary:hover {
    background-color: #243E63;
}

.nav__link--hover:hover {
    text-decoration: underline;
    line-height: 1.5;
    color: rgb(100 21 255);
    transition: all 200ms ease;
}

/* Header */

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
    padding: 32px;
}

.header__img--wrapper {
    width: 60%;
}

p {
    color: #243E63;
    font-size: 18px;
    margin: 32px 0;
    line-height: 1.5;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.input__wrapper {
    position: relative;
    display: inline-block;
}

input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 100px;
    border-width: 2px;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

/* .started__button {
    background-color: rgb(100 21 255);
    border-radius: 50px;
    width: 100%;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    position: absolute;
} */

form {
    opacity: 40%;
    transition: all 300ms ease;
    display: flex;
    flex-direction: row;
}

form:hover {
    opacity: 80%;
}

.logo__strip {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
}

.logo__strip--img {
    opacity: .5;
    display: flex;
}

/* Features Section */

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__para {
    color: #7C8BA1;
    font-size: 18px;
    margin: 16px 0 0;
    text-align: center;
    padding: 20px 80px 20px 80px;
    
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 8px;
}

.service__description {
    display: flex;
    flex-direction: column;
}

.service__img--wrapper {
    padding: 32px;
    padding-right: 64px;
    border-radius: 50%;
    border-width: 1px;
    height: 8px;
    width: 8px;
    margin: 0 auto;
}

.service__img {
    width: 32px;
    height: 32px;
    position: relative;
}

.service__title {
    color: #243E63;
    font-size: 24px;
    margin: 16px 0 0;
}

.service__para {
    font-size: 18px;
    margin: 4px 0 0;
    color: #7C8BA1;
}

/* Quality Work Section */

.work__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    text-align: left;
    margin-right: 64px;
}

.work__img--wrapper {
    width: 50%;
    display: flex;
}

.work__img {
    width: 100%;
}

.work__para {
    color: #7C8BA1;
    font-size: 18px;
    margin: 16px 0 0;
}

/* Steps Section */

.subtitle {
    font-size: 20px;
    color: #243E63;
}

.subtitle__container {
    display: flex;
    align-items: center;
}

.steps__section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 48px 0;
    margin-left: 64px;
}

.step__description {
    margin: 24px 0 0;
}

.step__para {
    margin: 12px 0 0;
    font-size: 18px;
    color: #718096;
}

h6 {
    color: #CBD5E0;
    font-size: 36px;
    font-weight: 700;
    margin-right: 32px;
}

/* Values Section */

.values__description {
    padding-right: 48px;
}

.values__para,
.value__para {
    color: #7C8BA1;
    font-size: 18px;
    margin: 16px 0 48px 0;
}

.values {
    display: flex;
    align-items: center;
    justify-content: center;
}

.value {
    padding: 0 48px 0 0 ;
}

/* Pricing Section */

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__description--para {
    color: #7C8BA1;
    font-size: 18px;
    margin: 16px 0 0;
    text-align: center;
    padding: 20px 80px 20px 80px;
}

/* Footer */

#footer {
    background-color: #6415FF;
    padding: 90px;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    margin: -48px 0 0;
}

.links {
    margin: 24px 0 0;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    margin: 48px 0 0;
}

.link__header {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.footer__link {
    text-decoration: none;
    color: white;
    padding: 0 0 4px;
    margin: 12px 0 0;
    transition: all 300ms ease;
    border-bottom: 0px white;
}

.link__description {
    margin: 12px 0 0;
}

.treact__logo--container {
    display: flex;
    align-items: center;
}

.footer__treact--logo {
    width: 100%;
    max-width: 32px;
    height: 32px;
    margin-right: 12px;
}

.footer__treact {
    font-size: 20px;
    color: #F7FAFC;
    font-weight: 900;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 64px;
}

.footer__copyright {
    color: #CBD5E0;
}

.footer__link:hover {
    border-bottom: 1px solid;
}